Sample Server/data/vehicle/vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="list" type="w3s:listType" xmlns:w3s="https://www.w3schools.com"/>
    <xs:complexType name="scaleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="x"/>
                <xs:attribute type="xs:string" name="y"/>
                <xs:attribute type="xs:string" name="z"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="listType">
        <xs:sequence>
            <xs:element type="w3s:vehicleType" name="vehicle" xmlns:w3s="https://www.w3schools.com"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vehicleType">
        <xs:sequence>
            <xs:element type="w3s:viewType" name="view" xmlns:w3s="https://www.w3schools.com"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="viewType">
        <xs:sequence>
            <xs:element type="w3s:scaleType" name="scale" xmlns:w3s="https://www.w3schools.com"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="modelKey"/>
    </xs:complexType>
</xs:schema>