Sample Server/data/vehicle/vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com">
    <xs:element name="list" type="listType"/>
    <xs:complexType name="listType">
        <xs:sequence>
            <xs:element type="vehicleType" name="vehicle"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vehicleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>